<div class="w-full flex items-center flex-col pt-14">
  <div class="w-1/2 pt-12">
    <!-- Editor Title  -->
    <div class="w-full py-3">
      <app-editor-title />
    </div>

    <!-- Editor -->
    <quill-editor
      customToolbarPosition="bottom"
      [(ngModel)]="content"
      format="object"
      class="w-full border-0"
      placeholder="Enter Your Story Here..."
      tabindex="2"
      theme="snow"
      (onEditorCreated)="onEditorCreated($event)"
      (onEditorChanged)="onUpdate($event)"
      [modules]="modules"
    >
      <div
        quill-editor-toolbar
        class="fixed bg-white top-12 border-0 border-b w-full z-10 left-0 flex justify-center"
      >
        <span class="ql-formats">
          <button
            title="Heading"
            type="button"
            class="ql-header"
            value="2"
            [disabled]="disabled"
          ></button>
          <button
            type="button"
            class="ql-header"
            value="3"
            [disabled]="disabled"
          ></button>
        </span>
        <span class="ql-formats">
          <button
            type="button"
            class="ql-bold"
            [disabled]="disableFormatting || disabled"
          ></button>
          <button
            type="button"
            class="ql-italic"
            [disabled]="disableFormatting || disabled"
          ></button>
          <button
            type="button"
            class="ql-underline"
            [disabled]="disableFormatting || disabled"
          ></button>
          <button
            type="button"
            class="ql-strike"
            [disabled]="disableFormatting || disabled"
          ></button>
        </span>
        <span class="ql-formats">
          <button
            class="ql-blockquote"
            [disabled]="disableFormatting || disabled"
          ></button>
          <button
            class="ql-link"
            [disabled]="disableFormatting || disabled"
          ></button>
        </span>
        <span class="ql-formats">
          <button
            class="ql-list"
            value="ordered"
            [disabled]="disableFormatting || disabled"
          ></button>
          <button
            class="ql-list"
            value="bullet"
            [disabled]="disableFormatting || disabled"
          ></button>
        </span>
        <span class="ql-formats">
          <button
            class="ql-image"
            [disabled]="disableFormatting || disabled"
          ></button>
          <button
            class="ql-video"
            [disabled]="disableFormatting || disabled"
          ></button>
          <button
            class="ql-code-block"
            [disabled]="disableFormatting || disabled"
          ></button>
        </span>
      </div>
      <div below-quill-editor-toolbar></div>
    </quill-editor>
  </div>
</div>
