<div class="w-full flex items-center flex-col pt-14">
  <div class="pt-12 w-full">
    <!-- Toolbar  -->
    <div class="fixed bg-white top-12 border-0 border-b w-full z-10 left-0">
      <app-editor-toolbar
        [editor]="editor"
        [disabled]="disabled()"
        [disableFormatting]="disableFormatting()"
        [isSelection]="isSelection()"
        [isLink]="isLink()"
        [linkUrl]="linkUrl()" />
    </div>

    <!-- Editor Title  -->
    <div class="py-3" id="title">
      <app-editor-title class="block mx-auto" (focused)="disabled.set(true)" />
    </div>

    <div id="editor" class="pb-4"></div>
  </div>
</div>
