<figure
  id="figure"
  class="flex flex-col items-center mb-8"
  (mouseenter)="inHover.set(true)"
  (mouseleave)="inHover.set(false)">
  @if (isUploaded()) {
    <img
      contenteditable="false"
      class="cursor-pointer"
      (click)="onImageClick()"
      #imgRef
      [ngClass]="{ highlight: editable() && (inFocus() || inHover()) }"
      [ngSrc]="src()"
      [attr.alt]="altText()"
      [width]="imgWidth()"
      [height]="imgHeight()"
      [ngSrcset]="srcset()"
      sizes="(max-width: 600px) 100vw, (max-width: 768px) 80vw, (max-width: 1024px) 70vw, (max-width: 1280px) 60vw, 50vw" />
  } @else {
    <img
      contenteditable="false"
      class="cursor-pointer"
      (click)="onImageClick()"
      [ngClass]="{ highlight: editable() && (inFocus() || inHover()) }"
      [src]="src()"
      [attr.alt]="altText()"
      #imgRef
      (load)="onImageLoaded()" />
  }

  <figcaption
    [ngClass]="{ focused: editable() && (inFocus() || inHover()) }"
    tiptapNodeViewContent
    class="text-sm mt-2 px-12"></figcaption>
</figure>

<template #imageTooltip>
  <div class="p-2" id="imageTooltip">
    <div
      class="cursor-pointer hover:text-primary"
      (click)="deleteImage()"
      (keydown.enter)="deleteImage()"
      tabindex="0">
      <i class="ri-delete-bin-line"></i>
      <span class="inline-block ml-2">Delete</span>
    </div>
    <hr class="my-2" />
    <div
      class="cursor-pointer hover:text-primary"
      (click)="openAltTextDialog()"
      (keydown.enter)="openAltTextDialog()"
      tabindex="1">
      <i class="ri-edit-line"></i>
      <span class="inline-block ml-2">Alt Text</span>
    </div>
  </div>
</template>

<ng-template #altTextDialog>
  <p mat-dialog-title>Alternate Text</p>
  <mat-dialog-content>
    <p>Text for people with visual impairments</p>
    <mat-form-field class="w-full">
      <mat-label>Enter here...</mat-label>
      <input matInput [(ngModel)]="altText" type="text" cdkFocusInitial />
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="altText">Add</button>
  </mat-dialog-actions>
</ng-template>
